.footer_outer_container {
  background-color: #111;
  color: grey;
  display: flex;
  justify-content: center;
}
.footer_inner_container {
  width: 60%;
}
.footer_icons {
  display: flex;
  justify-content: space-between;
  width: 12%;
  margin-left: 10px;
  color: #fff;
}
.footer_data{
    display: flex;
    justify-content: space-between;
}
.footer_data ul {
    display: flex;
    list-style: none;
    flex-direction: column;
    justify-content: space-around;
    height: 12vh;
}
.footer_data ul li {
    cursor: pointer;
}
.service_code{
    display: flex;
    justify-content:center;
    align-items: center;
    border: #fff 1px solid;
    margin: 10px 0;
    cursor: pointer;
    width: 20%;
}
.copy_right{
    font-size: 12px;
    margin-bottom: 10px;
}

@media (max-width: 768px) {
  .footer_inner_container {
      width: 80%; /* Adjust width for better visibility on mobile */
      border-top: #fff 1px solid;

  }
 .footer_data {
      height: auto; /* Adjust height for mobile view */
      padding: 20px 20px 20px 0; /* Add padding for better spacing */
      display: flex;
      justify-content: space-between;
  }

  .footer_data ul {
      padding: 0; /* Remove default padding */
      margin: 0; /* Remove default margin */
      text-align: center;
  }

  .footer_data ul li {
      margin-bottom: 10px; /* Add margin between list items */
      font-size: 13px; /* Adjust font size for better readability */
  }

  .footer_icons {
    width: 40%; /* Ensure the icons take up the full width */
    justify-content: space-between; /* Center align the icons */
    margin: 10px 0 0 0; /* Add margin for better spacing */
  }

  .footer_icons i {
    margin: 0 15px; /* Add margin between icons */
  }
  .service_code {
      width: 100%; /* Increase width for better visibility on mobile */
      margin: 10px 0; /* Center the service code button */
      padding: 10px; /* Add padding for better touch target */
      font-size: 14px; /* Adjust font size for better readability */
  }

  .copy_right {
      font-size: 12px; /* Adjust font size for mobile view */
      margin-bottom: 20px; /* Add margin for better spacing */
  }
}